    
{% load static %}
<header class="site-header">
    <nav class="nav-bar">
        <a href="/">
            <img class="navbar_logo" src="{% static 'images/Logo2.png' %}" />
        </a>
        <div class="nav-left">
            <a href="/">Home</a>
            <a href="/faqs/">FAQs</a>
        </div>
        <div class="nav-right">
            {% if user.is_authenticated %}
                <a href="/users/logout/">Logout</a>
                <a href="/recipes/">Receptes</a>
                <a href="/enter_recipes/">Crear una recepta</a>
            {% else %}
                <a href="/users/login/">Login</a>
            {% endif %}
        </div>
    </nav>
</header>